
:root {
  --color-a: #1e88f6;
  --color-ahover: #1bb934;
  --color-aactive: #ff5b05;
}

a {
  color: var(--color-a);
  &:hover {
    color: var(--color-ahover);
  }
  &:active {
    color: var(--color-aactive);
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

pre {
  white-space: pre-wrap;
}

button {
  font-size: 12px;
  cursor: pointer;
  + button {
    margin-left: 8px;
  }
}
textarea {
  min-height: 50px;
  vertical-align: text-top;
  resize: none;
}

// 上传文件按钮
.file-button {
  position: relative;
  overflow: hidden;
  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
}

// 弹窗
.dialog {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  border: none;
  background: transparent;
  &::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .4);
  }
  .dialog-body {
    max-width: 100%;
    background-color: #fff;
  }
}

// 页面佈局
#app {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  .com-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
.layout-inner {
  margin: 0 auto;
  width: 90%;
  min-width: 500px;
}
