
:root {
  --color-a: @linkColor;
  --color-hover: @linkHoverColor;
  --color-active: @linkActiveColor;
}

a {
  color: var(--color-a);
  &:hover {
    color: var(--color-hover);
  }
  &:active {
    color: var(--color-active);
  }
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  // font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  // font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
}

body {
  font-size: 14px;
  line-height: 21px;
  color: @textColor;
}

pre {
  color: inherit;
  white-space: pre-wrap;
}

input,
textarea,
button {
  padding: 2px 8px;
  line-height: 22px;
  border-radius: 3px;
  border: 1px solid @inColor;
  &:nth-last-child(n+2) {
    margin-right: 8px;
  }
}
input,
textarea {
  &:focus {
    border-color: @comBg;
  }
}
button {
  min-width: 60px;
  cursor: pointer;
  color: @bgf;
  text-align: center;
  border-color: @comBg;
  background-color: @comBg;
  &:hover {
    opacity: .8;
  }
}
textarea {
  min-height: 50px;
  vertical-align: text-top;
  resize: none;
}

.com-upload-button{
  &:nth-last-child(n+2) {
    margin-right: 8px;
  }
}

// 页面佈局
#app {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  .com-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
.layout-inner {
  margin: 0 auto;
  width: 90%;
  min-width: 500px;
}
.com-controls,
.com-container,
.footer-contorls {
  padding-top: @tiny;
}
.com-controls,
.footer-contorls {
  .controls-link {
    &:nth-child(n+2) {
      margin-left: @small;
    }
  }
}
.footer-contorls {
  text-align: right;
}

// 手机适配
@media screen and (max-width: 620px) {
  .com-header {
    .header-navs {
      display: none;
    }
  }
  .layout-inner {
    width: 98%;
    min-width: auto;
  }
  .com-controls {
    margin-top: -@tiny;
    > * {
      margin-top: @tiny;
    }
  }
}
