/** 全局样式变量 */

@proColor: #792519;
@aColor: #ff0000;
@bColor: #ba5b4e;

// 文字颜色
@textColor: #151515;
@subTextColor: #260033;
// @linkColor: #a60000;
@linkColor: #1e88f6;
@linkHoverColor: #1e88f6;
@linkActiveColor: #ff5b05;

// 泛白文字
@linkrColor: #ccc;
@linkrHoverColor: #fff;
@linkrActiveColor: #f2f2f2;

// 交互颜色
@activevColor: #003300;
@IconColor: #1f640a;
@HoverColor: #5fa043;
@disabledColor: #81bea9;

@inColor: #ccc;
@comBg: #1e88f6;

@bgf: #fff;
@bgf8: #f8f8f8;
@bgp: #009999;

@dialogModel: rgba(0, 0, 0, .4);

@tiny: 4px;
@small: 8px;
@base: 12px;
@middle: 24px;
@large: 32px;
@xlarge: 48px;
